﻿@using SchoolManagement.Enums;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_sub_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <input type="hidden" name="subscribtion_id" id="subscribtion_id" value="0" />
                            <input type="datetime" style="display:none;" name="subscribtion_datetime" id="subscribtion_datetime" />
                            <input type="hidden" name="package_month" id="package_month" class="form-control radius-30" />

                            <div class="form-group col-md-12">
                                <label>Cost</label>
                                <input readonly type="number" name="package_price" id="package_price" class="form-control radius-30" />
                            </div>
                            @*<div class="form-group col-md-12">
                                <label>Cost</label>
                                <input type="number" name="cost" id="cost" class="form-control radius-30" />
                            </div>*@
                            <div class="form-group col-md-12">
                                <label>Note</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Start Date(Month/Day/Year)</label>
                                <input type="date" name="start_date" id="start_date" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Due Date(Month/Day/Year)</label>
                                <input type="date" name="due_date" id="due_date" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6" id="memberDiv">
                                <label>Member</label>
                                @Html.DropDownList("member_id", new SelectList(ViewBag.members, "id", "full_name"), "Select Member", new { @class = "form-control", @name = "member_id", @id = "member_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Package</label>
                                @Html.DropDownList("package_id", new SelectList(ViewBag.packages, "id", "name"), "Select Package", new { @class = "form-control", @name = "package_id", @id = "package_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Offer</label>
                                @Html.DropDownList("offer_id", new SelectList(ViewBag.offers, "id", "name"), "Select Offer", new { @class = "form-control", @name = "offer_id", @id = "offer_id" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Coach</label>
                                @Html.DropDownList("staff_id", new SelectList(ViewBag.coaches, "id", "full_name"), "Select Coach", new { @class = "form-control", @name = "staff_id", @id = "staff_id" })
                            </div>
                            @*<div class="form-group col-md-12">
                                <label>school</label>
                                @Html.DropDownList("school_id", new SelectList(ViewBag.schools, "id", "name"), "Select school", new { @class = "form-control", @name = "school_id", @id = "school_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-12">
                                <label>Branch</label>
                                @Html.DropDownList("branch_id", new SelectList(ViewBag.branches, "id", "name"), "Select Branch", new { @class = "form-control", @name = "branch_id", @id = "branch_id", @required = "required" })
                            </div>*@
                            <div class="form-group col-md-12">
                                <label>Status</label>
                                <select class="form-control" name="is_active" id="is_active">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Subscribtion</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Subscribtion")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Subscribtion</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_sub">Add Subscribtion</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-3">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            <div class="form-group col-4">
                <select id="sub_filter" name="sub_filter" class="form-control">
                    <option value="1">Valid</option>
                    <option value="2">Expired</option>
                </select>
            </div>
            @*<div class="form-group col-2">
            <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
        </div>
        <div class="form-group col-2">
            <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
        </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-5 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-5 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="subTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Subscribtion</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/momentScript/moment.min.js"></script>
    <script src="~/momentScript/moment-with-locales.js"></script>

    <script>

       $(document).ready(function () {

           var datatable = $('#subTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Subscribtion")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "subscribtion_id",
                            "searchable": true
                        },
                        {
                            "data": "full_name", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {

                                var html = "<a  target='_blank' href='/Profile/Index?code=" + oData.code + "'>" + oData.full_name + "</a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "phone1", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span> ";
                                if (oData.phone1 || oData.phone2) {
                                    html += "<b>Phone: </b>";
                                    if (oData.phone1)
                                        html += oData.phone1;
                                    //if (oData.phone2)
                                    //    html += "<br/><b>Secondary Phone: </b> " + oData.phone2;
                                }
                                if (oData.address1 || oData.address2) {
                                    html += "<br/><b>Address: </b>";
                                    if (oData.address1)
                                        html += oData.address1;
                                    //if (oData.address2)
                                    //    html += "<br/><b>Secondary Address: </b> " + oData.address2;
                                }
                                //if (oData.email)
                                //    html += "<br/><b>Email: </b>" + oData.email;
                                //if (oData.gender) {
                                //    if (oData.gender == 1)
                                //        html += "<br/><b>Gender: </b>Male";
                                //    else if (oData.gender == 2)
                                //        html += "<br/><b>Gender: </b>Female";
                                //}
                                //if (oData.created_by)
                                //    html += "<br/><b>Created By: </b>" + oData.created_by;
                                //if (oData.active == 1)
                                //    html += "<br/><b>Active:</b> Yes";
                                //else
                                //    html += "<br/><b>Active:</b> No";
                                html += "</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "package_id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span> ";

                                if (oData.package_name || oData.offer_name || oData.coach_name) {
                                    if (oData.package_name)
                                        html += "<b>Package: </b><span>" + oData.package_name + "</span>";
                                    //if (oData.package_price)
                                    //    html += "</br><b>Pice: </b><span>" + oData.package_price + "LE</span>";
                                    //if (oData.package_month)
                                    //    html += "</br><b>Month: </b><span>" + oData.package_month + "</span>";
                                    //if (oData.offer_name)
                                    //    html += "<hr><b>Offer: </b><span>" + oData.offer_name + "</span>";
                                    //if (oData.package_month)
                                    //    html += "</br><b>Months: </b><span>" + oData.package_month + "</span>";
                                    //if (oData.offer_amount) {
                                    //    if (oData.offer_type == 1)
                                    //        html += "</br><b>Offer Amount: </b><span>" + oData.offer_amount + "%</span>";
                                    //    else
                                    //        html += "</br><b>Offer Amount: </b><span>" + oData.offer_amount + "LE</span>";
                                    //}
                                    //if (oData.coach_name)
                                    //    html += "<hr> <b>Coach: </b><span>" + oData.coach_name + "</span>";
                                    //if (oData.start_date_string)
                                    //    html += "<hr><b>From: </b><span>" + oData.start_date_string.split(' ')[0] + "</span>";
                                    //if (oData.due_date_string)
                                    //    html += "</br><b>To: </b><span>" + oData.due_date_string.split(' ')[0] + "</span>";

                                    html += "<br><b>Paid: </b>";
                                    if (oData.offer_id > 0)
                                        html += "<span style='text-decoration: line-through;'>" + oData.package_price + "</span>&nbsp;";
                                    if (oData.cost)
                                        html += oData.cost + "LE";
                                 }
                                else
                                    html += "No Data";

                                html += "</span>";

                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' id='" + oData.id + "' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='delete' id='" + oData.id + "' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());

                datatable.columns(0).search($("#sub_filter").val());
                //datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");
                $("#sub_filter").val("");
                $('#search').trigger('click');

            });

            //$('#date-form').bootstrapMaterialDatePicker({
            //    time: false
            //});

            //$('#date-to').bootstrapMaterialDatePicker({
            //    time: false
            //});

           $("#add_sub").click(function () {

               $('#memberDiv').show();
               var modal = $('#manage_sub_modal').clone();
                var action = '@Url.Action("saveSubscribtion", "Subscribtion")';
                modal.find('form').attr('action', action);
               modal.find('#modal_title').text('Add Subscribtion');

                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                        $(document).on('change', '#package_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : new Date();

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data.data);
                                    dialog.find('#package_price').val(data.data);
                                },
                                error: function () {
                                    alert("Dynamic content load failed.");
                                }
                            });
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (data) {
                                    var value = new Date
                                        (
                                            parseInt(data.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                       });

                        $(document).on('change', '#offer_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data.data);
                                    dialog.find('#package_price').val(data.data);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                        });

                        $(document).on('change', '#start_date', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : 0;
                            console.log(start_date);
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data.data);
                                    var value = new Date
                                        (
                                            parseInt(data.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                       });

                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                $('#memberDiv').hide();
                var modal = $('#manage_sub_modal').clone();
                var action = '@Url.Action("saveSubscribtion", "Subscribtion")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Subscribtion');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        console.log(data);
                        dialog.find('#id').val(1);

                        var subscribtion_datetime = moment(data.subscribtion_datetime.toString()).format('yyyy-MM-DD HH:mm:ss');
                        dialog.find('#subscribtion_datetime').val(subscribtion_datetime);
                        
                        dialog.find('#subscribtion_id').val(data.subscribtion_id);
                        dialog.find('#package_month').val(data.package_month);
                        dialog.find('#package_price').val(data.cost);
                        dialog.find('#note').val(data.note);

                        var value = new Date
                            (
                                parseInt(data.start_date.replace(/(^.*\()|([+-].*$)/g, ''))
                            );
                        var date_start_date = value.getFullYear() +
                            "-" +
                            ("0" + (value.getMonth() + 1)).slice(-2) +
                            "-" +
                            ("0" + value.getDate()).slice(-2)
                            ;
                        dialog.find('#start_date').val(date_start_date);

                        var value = new Date
                            (
                                parseInt(data.due_date.replace(/(^.*\()|([+-].*$)/g, ''))
                            );
                        var date_due_date = value.getFullYear() +
                            "-" +
                            ("0" + (value.getMonth() + 1)).slice(-2) +
                            "-" +
                            ("0" + value.getDate()).slice(-2)
                            ;
                        dialog.find('#due_date').val(date_due_date);

                        dialog.find('#member_id option[value=' + data.member_id + ']').attr('selected', 'selected');
                        dialog.find('#package_id option[value=' + data.package_id + ']').attr('selected', 'selected');
                        dialog.find('#offer_id option[value=' + data.offer_id + ']').attr('selected', 'selected');
                        dialog.find('#staff_id option[value=' + data.staff_id + ']').attr('selected', 'selected');
                        dialog.find('#is_active option[value=' + data.is_active + ']').attr('selected', 'selected');

                        $(document).on('change', '#package_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);
                                    dialog.find('#package_price').val(json.data);
                                  
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (json) {
                                    var value = new Date
                                        (
                                            parseInt(json.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                       });

                        $(document).on('change', '#offer_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;
                            
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);
                                    console.log(data.cost);
                                    dialog.find('#package_price').val(json.data);
                         
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                        });

                        $(document).on('change', '#start_date', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);
                                   
                                    var value = new Date
                                        (
                                            parseInt(json.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                       });


                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this subscribtion ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteSubscribtion", "Subscribtion")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.subscribtion_id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}

