﻿@{ 
    List<SchoolManagement.Models.Branch> branches = null;
    if (SchoolManagement.Auth.isA.SuperAdmin() == false && SchoolManagement.Auth.isA.Admin() == false) {
        int branchId = Session["school_id"].ToString().ToInt();
        SchoolManagement.Models.DBContext db = new SchoolManagement.Models.DBContext();
        branches = db.branches.Where(b => b.school_id == branchId).ToList();
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>School Management</title>
    <!--favicon-->
    <link rel="icon" href="~/Content/assets/images/favicon-32x32.png" type="image/png" />
    <!-- Vector CSS -->
    <link href="~/Content/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!--plugins-->
    <link href="~/Content/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- loader-->
    <link href="~/Content/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/app.css" />
    <link rel="stylesheet" href="~/Content/assets/css/dark-sidebar.css" />
    <link rel="stylesheet" href="~/Content/assets/css/dark-theme.css" />
    <link href="~/Content/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/dataTable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/dataTable/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/dataTable/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/dataTable/css/buttons.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/assets/plugins/datetimepicker/css/classic.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/datetimepicker/css/classic.time.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/datetimepicker/css/classic.date.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    @RenderSection("css", required: false)

</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <!--sidebar-wrapper-->
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div class="">
                    <img src="~/Content/assets/images/logo-icon.png" class="logo-icon-2" alt="" />
                </div>
                <div>
                    <h4 class="logo-text">School Management</h4>
                </div>
                <a href="#" class="toggle-btn ml-auto">
                    <i class="bx bx-menu"></i>
                </a>
            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li>
                    <a href="@Url.Action("Index","Dashboard")">
                        <div class="parent-icon icon-color-1">
                            <i class="bx bx-home-alt"></i>
                        </div>

                        <div class="menu-title">Dashboard</div>
                    </a>

                </li>
                @if (SchoolManagement.Auth.can.accessStaff() || SchoolManagement.Auth.can.accessMember())
                {
                    <li class="menu-label">Users Management</li>
                }
                @*@if (SchoolManagement.Auth.can.accessOwner())
        {
            <li>
                <a href="@Url.Action("Index", "Owner")">
                    <div class="parent-icon icon-color-2">
                        <i class="lni lni-network"></i>
                    </div>
                    <div class="menu-title">Owners</div>
                </a>
            </li>
        }*@
                @if (SchoolManagement.Auth.can.accessStaff())
                {
                    <li>
                        <a href="@Url.Action("Index", "Staff")">
                            <div class="parent-icon icon-color-2">
                                <i class="lni lni-network"></i>
                            </div>
                            <div class="menu-title">Staff</div>
                        </a>
                    </li>
                }
                @if (SchoolManagement.Auth.can.accessMember())
                {
                    <li>
                        <a href="@Url.Action("Index","Member")">
                            <div class="parent-icon icon-color-2">
                                <i class="lni lni-users"></i>
                            </div>
                            <div class="menu-title">Parents</div>
                        </a>
                    </li>
                }
                <li class="menu-label">Manage</li>
                @if (SchoolManagement.Auth.can.accessschool())
                {
                    <li>
                        <a href="@Url.Action("Index","school")">
                            <div class="parent-icon icon-color-2">
                                <i class="lni lni-vector"></i>
                            </div>
                            <div class="menu-title">School</div>
                        </a>
                    </li>
                }
                @if (SchoolManagement.Auth.can.accessBranch())
                {
                    <li>
                        <a href="@Url.Action("Index","Branch")">
                            <div class="parent-icon icon-color-2">
                                <i class="lni lni-layers"></i>
                            </div>
                            <div class="menu-title">Branch</div>
                        </a>
                    </li>
                }
                @if (SchoolManagement.Auth.can.accessCategory())
                {
                    <li>
                        <a href="@Url.Action("Index","Category")">
                            <div class="parent-icon icon-color-5">
                                <i class="lni lni-folder"></i>
                            </div>
                            <div class="menu-title">Category</div>
                        </a>
                    </li>
                }
                @if (SchoolManagement.Auth.can.accessProduct())
                {
                    <li>
                        <a href="@Url.Action("Index","Product")">
                            <div class="parent-icon icon-color-5">
                                <i class="lni lni-producthunt"></i>
                            </div>
                            <div class="menu-title">Product</div>
                        </a>
                    </li>
                }
                @if (SchoolManagement.Auth.can.accessUserCredit())
                {
                    <li>
                        <a href="@Url.Action("Index","UserCredit")">
                            <div class="parent-icon icon-color-5">
                                <i class="lni lni-wallet"></i>
                            </div>
                            <div class="menu-title">User Credit</div>
                        </a>
                    </li>
                }
                @if (SchoolManagement.Auth.can.accessProduct())
                {
                    <li>
                        <a href="@Url.Action("Index","ProductList")">
                            <div class="parent-icon icon-color-5">
                                <i class="lni lni-wheelbarrow"></i>
                            </div>
                            <div class="menu-title">Buy Now</div>
                        </a>
                    </li>
                }
                @if (SchoolManagement.Auth.can.accessProduct())
                {
                    <li>
                        <a href="@Url.Action("Index","OrdersShow")">
                            <div class="parent-icon icon-color-5">
                                <i class="lni lni-customer"></i>
                            </div>
                            <div class="menu-title">Orders</div>
                        </a>
                    </li>
                }
                
            </ul>
            <!--end navigation-->
        </div>
        <!--end sidebar-wrapper-->
        <!--header-->
        <header class="top-header">
            <nav class="navbar navbar-expand">
                <div class="left-topbar d-flex align-items-center">
                    <a href="#" class="toggle-btn">
                        <i class="bx bx-menu"></i>
                    </a>
                </div>

                <div class="right-topbar ml-auto">
                    <ul class="navbar-nav">
                        @if (SchoolManagement.Auth.isA.Owner() == true) {
                            <li class="nav-item dropdown dropdown-lg">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="javascript:;" data-toggle="dropdown">
                                    <i class="lni lni-layers vertical-align-middle"></i>
                                    <span class="msg-count">@branches.Count</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-subtitle">Select Branch</p>
                                        </div>
                                    </a>
                                    <div class="header-notifications-list">
                                        @foreach (var b in branches)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("changeBranch", "Dashboard", new { branchId = b.id })">
                                                <div class="media align-items-center">
                                                    <div class="notify bg-light-primary text-primary">
                                                        <i class="lni lni-bookmark"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="msg-name">
                                                            @b.code | @b.name
                                                        </h6>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    </div>

                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown dropdown-user-profile">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-toggle="dropdown">
                                <div class="media user-box align-items-center">
                                    <div class="media-body user-info">
                                        <p class="user-name mb-0">
                                            @if (Session["type"].ToString().ToInt() != (int)UserTypes.Admin)
                                            {
                                                @Session["school_name"].ToString()
                                                <span>|</span>
                                                @Session["branch_name"].ToString()
                                                <span>|</span>
                                            }
                                            @Session["user_name"].ToString()
                                        </p>
    
                                        </div>
    
                                        <img src="https://via.placeholder.com/110x110" class="user-img" alt="user avatar">
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                @*<a class="dropdown-item" href="#">
                                    <i class="bx bx-user"></i><span>Profile</span>
                                </a>*@

                                @*<div class="dropdown-divider mb-0"></div>*@	
                                <a class="dropdown-item" href="@Url.Action("Logout","Account")">
                                    <i class="bx bx-power-off"></i><span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--end header-->
        <!--page-wrapper-->
        <div class="page-wrapper">
            <div class="page-content-wrapper">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--end page-wrapper-->
        <!--start overlay-->
        <div class="overlay toggle-btn-mobile"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="#" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <!--footer -->
        <div class="footer">
            <p class="mb-0">
                School Management @DateTime.Now.Year | Developed By : School Management
            </p>
        </div>
        <!-- end footer -->
    </div>
    <!-- end wrapper -->
    <!--start switcher-->
    <div class="switcher-wrapper">
        <div class="switcher-btn">
            <i class='bx bx-cog bx-spin'></i>
        </div>
        <div class="switcher-body">
            <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
            <hr />
            <h6 class="mb-0">Theme Styles</h6>
            <hr />
            <div class="d-flex align-items-center justify-content-between">
                <div class="custom-control custom-radio">
                    <input type="radio" id="darkmode" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="darkmode">Dark Mode</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="lightmode" name="customRadio" checked class="custom-control-input">
                    <label class="custom-control-label" for="lightmode">Light Mode</label>
                </div>
            </div>
            <hr />
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="DarkSidebar">
                <label class="custom-control-label" for="DarkSidebar">Dark Sidebar</label>
            </div>
            <hr />
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="ColorLessIcons">
                <label class="custom-control-label" for="ColorLessIcons">Color Less Icons</label>
            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    <!--end switcher-->
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!--plugins-->
    <script src="~/Content/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/Content/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/Content/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <!-- Vector map JavaScript -->
    <script src="~/Content/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/assets/plugins/vectormap/jquery-jvectormap-in-mill.js"></script>
    <script src="~/Content/assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/Content/assets/plugins/vectormap/jquery-jvectormap-uk-mill-en.js"></script>
    <script src="~/Content/assets/plugins/vectormap/jquery-jvectormap-au-mill.js"></script>
    <script src="~/Content/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    @*<script src="~/Content/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>*@
    <script src="~/dataTable/js/jquery.dataTables.min.js"></script>
    <script src="~/dataTable/js/dataTables.responsive.min.js"></script>
    <script src="~/dataTable/js/dataTables.rowReorder.min.js"></script>
    <script src="~/dataTable/js/dataTables.fixedColumns.min.js"></script>

    <script src="~/dataTable/js/dataTables.buttons.min.js"></script>
    <script src="~/dataTable/js/jszip.min.js"></script>
    <script src="~/dataTable/js/pdfmake.min.js"></script>
    <script src="~/dataTable/js/vfs_fonts.js"></script>
    <script src="~/dataTable/js/buttons.html5.min.js"></script>
    <script src="~/dataTable/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/js/index.js"></script>
    <!-- App JS -->
    <script src="~/Content/assets/js/app.js"></script>
    <script src="~/Content/assets/plugins/datetimepicker/js/legacy.js"></script>
    <script src="~/Content/assets/plugins/datetimepicker/js/picker.js"></script>
    <script src="~/Content/assets/plugins/datetimepicker/js/picker.time.js"></script>
    <script src="~/Content/assets/plugins/datetimepicker/js/picker.date.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js"></script>

    <script src="~/dataTable/js/factory.js"></script>
    @*<script src="https://unpkg.com/feather-icons"></script>*@
    @*<script>
        feather.replace()
    </script>*@
    <script>
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: true
        }),
            $('.timepicker').pickatime()
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>

