﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="withdraw_orders_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">

                            <table class="table table-striped" id="withdraw_orders_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody id="withdraw_orders_table_body">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Order</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-4">
                @Html.DropDownList("search_child_id", new SelectList(ViewBag.childrens, "id", "name"), "Select Children", new { @class = "form-control", @name = "search_child_id", @id = "search_child_id", @required = "required" })
            </div>
            @{
                string cashiersStyle = String.Empty;
                if (Session["type"].ToString().ToInt() == (int)UserTypes.Cashier)
                {
                    cashiersStyle = "display:none";
                }
            }
            <div class="form-group col-md-4" style="@cashiersStyle">
                @Html.DropDownList("search_cashier_id", new SelectList(ViewBag.cashiers, "id", "full_name"), "Select Cashier", new { @class = "form-control", @name = "search_cashier_id", @id = "search_cashier_id", @required = "required" })
            </div>

            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            <div class="form-group col-4">
                <input class="result form-control" type="text" id="date-form" placeholder="From Date">
            </div>
            <div class="form-group col-4">
                <input class="result form-control" type="text" id="date-to" placeholder="To Date">
            </div>

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card radius-15 bg-primary">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="media-body">
                        <h4 class="mb-0 font-weight-bold text-white"><span id="total_orders"></span></h4>
                        <p class="mb-0 text-white">Total</p>
                    </div>

                    <div class="font-35 text-white">
                        <i class='bx bx-wallet'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table id="ordersTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Created By</th>
                            <th>Created At</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

    @section scripts
{
        <script>
       $(document).ready(function () {

           var datatable = $('#ordersTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "OrdersShow")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "user_name",
                            "searchable": true
                        },
                        {
                            "data": "price", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                $(nTd).html("<span class='action-column'>" + addCommas(oData.price.toFixed(2)) + "</span>");
                            }
                        },
                        { "data": "quantity", "searchable": true },
                        { "data": "stringCreated_by", "searchable": true },
                        { "data": "stringCreated_at", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<span class='action-column'>" + oData.stringCreated_at.split(' ')[0] + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='show' href='javascript:void(0)' title='Order Details'><i class='lni lni-eye'></i></a>&nbsp;";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#search_child_id").val());
                datatable.columns(1).search($("#search_cashier_id").val());
                datatable.columns(2).search($("#date-form").val());
                datatable.columns(3).search($("#date-to").val());

                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");
                $("#search_child_id").val("");
                $("#search_cashier_id").val("");
                $("#date-form").val("");
                $("#date-to").val("");
                $('#search').trigger('click');

            });

            $('#date-form').bootstrapMaterialDatePicker({
                time: false
            });

            $('#date-to').bootstrapMaterialDatePicker({
                time: false
            });

           datatable.on('xhr.dt', function (e, settings, json, xhr) {
               $('#total_orders').text(addCommas(json.totalOrdersSum.toFixed(2)));

           });

           $(document).on("click", ".show", function () {
               var data = datatable.row($(this).closest('tr')).data();
               console.log(data);
               var modal = $('#withdraw_orders_modal').clone();
               @*var action = '@Url.Action("saveUserCredit", "UserCredit")';
               modal.find('form').attr('action', action);*@
               modal.find('#modal_title').text('Order Products');
               modal.execModal({
                   progressBar: 'progress_bar',
                   progressText: 'progress_text',
               }, function (response) {

               }, function (response) {

               }, function (dialog) {

                   if (data.products) {

                       dialog.find("#withdraw_orders_table_body").remove();
                       var html = "<tbody id='withdraw_orders_table_body'>";
                       var total = 0;
                       data.products.forEach(function (product) {
                           html += "<tr>";
                           html += "<td>" + product.id + "</td>";
                           html += "<td>" + product.name + "</td>";
                           html += "<td>" + product.productQantity + "</td>";
                           html += "<td>" + product.price + "</td>";
                           html += "</tr>";

                           total += product.price;
                       });

                       html += "</tbody>";
                       html += "<tfoot>";
                       html += "<tr>";
                       html += "<td colspan='2'><b>Total</b></td>";
                       html += "<td colspan='2'>" + total + "</td>";
                       html += "</tr>";
                       dialog.find("#withdraw_orders_table").append(html);
                   }

               });

           });

        });

        </script>
    }

