﻿@model List<SchoolManagement.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalPerProduct = 0;
    var totalPrice = 0;
    var totalQuantity = 0;
}

<script>
    var prodID = 0;
    function updateProductID(id) {
        $('#id').val(id);
    }
</script>
<div class="modal fade" id="pay_with_wallet" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="@Url.Action("makeOrder", "Order")" autocomplete="off" onkeydown="return event.key != 'Enter';" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title">Pay With Wallet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Code @*<span class="badge badge-info" id="total_credit"></span>*@</label>
                                <input required autocomplete="off" autofocus type="password" name="code" id="code" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Name</label>
                                <input disabled name="name" id="name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Total Credit</label>
                                <input disabled id="total_credit" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Total Order</label>
                                <input disabled id="total_order" type="text" class="form-control radius-30" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" disabled id="payReset" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </form>

</div>


<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Buy</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                @*<li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Order")">Categories</a>
                    </li>*@
                <li class="breadcrumb-item active" aria-current="page"> Categories With Products</li>
            </ol>
        </nav>
    </div>
    <!--<div class="ml-auto">
        <div class="btn-group">-->
    @*<a href="@Url.Action("showCart", "Order")"><button type="button" class="btn btn-primary"><i class="lni lni-wheelbarrow"></i> Order</button></a>*@
    <!--<a href="@Url.Action("Index", "ProductList", new { id = -1 })"><button type="button" class="btn btn-primary"><i class="lni lni-wheelbarrow"></i> Order</button></a>

        </div>
    </div>-->
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card radius-15">
            <div class="card-body">


                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    @{
                        int categoryCounter = 0;
                        int tabCounter = 0;
                        string categoryClass = "active";
                        string tabClass = "show active";

                    }

                    @foreach (var cat in ViewBag.categories)
                    {
                        if (categoryCounter != 0)
                        {
                            categoryClass = String.Empty;
                        }

                        <li class="nav-item" role="presentation">
                            <a class="nav-link @categoryClass" id="pills-@cat.id-tab" data-toggle="pill" href="#pills-@cat.id" role="tab" aria-controls="pills-@cat.id" aria-selected="true">@cat.name</a>
                        </li>
                        categoryCounter++;
                    }
                </ul>
                <hr />
                <div class="tab-content" id="pills-tabContent">
                    @foreach (var cat in ViewBag.categories)
                    {
                        if (tabCounter != 0)
                        {
                            tabClass = String.Empty;
                        }
                        <div class="tab-pane fade @tabClass" id="pills-@cat.id" role="tabpanel" aria-labelledby="pills-@cat.id-tab">
                            <div class="row">
                                @foreach (var product in ViewBag.allProducts)
                                {
                                    if (cat.id == product.category_id)
                                    {

                                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                            <div class="card">
                                                <img src="@product.productImage" style="width:170px;height:100px;" class="card-img-top" alt="...">
                                                <div class="card-body row">
                                                    @if (product.name.Length > 12)
                                                    {
                                                        <h5 class="card-title col-12">@product.name</h5>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="card-title col-12">@product.name</h5>
                                                        <div class="col-12">&nbsp;</div>

                                                    }
                                                    <p class="card-text col-12"><b>Price:</b> @product.price LE</p>
                                                    <p class="card-text col-12"><b>Quantity:</b> @product.quantity</p>
                                                    
                                                    @*@if (product.description.Length > 17)
                                                    {
                                                        <p class="card-text col-12">@product.description.Substring(0, 17)...</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text col-12">@product.description</p>

                                                    }*@
                                                    <hr />
                                                    <i class="lni lni-circle-plus plus col-3" data-product-id="@product.id" style="font-size: 1.7em;"></i>
                                                    <input type="number" value="@SchoolManagement.Helpers.Helpers.getProductQuantity(product.id)" id="@product.id" data-product-id="@product.id" class="quantity form-control form-control-sm col-6" />
                                                    <i class="lni lni-circle-minus minus col-3" data-product-id="@product.id" style="font-size: 1.7em;"></i>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                        tabCounter++;
                    }
                </div>
            </div>
        </div>

        <!--end breadcrumb-->



    </div>
    @*@if (ViewBag.id == -1) {*@
    <div class="col-md-4">
        <div class="card" id="reset">
            <div class="card-header">
                Checkout
            </div>
            <div class="card-body">
                <div class="row">
                    <!--end breadcrumb-->
                    <table class="table table-striped" id="payTableId">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        <tbody id="payTableBody">
                            @foreach (var cart in Model)
                            {
                                totalPerProduct = Convert.ToInt32(cart.price) * Convert.ToInt32(cart.quantity);
                                totalPrice += totalPerProduct;
                                totalQuantity += Convert.ToInt32(cart.quantity);
                                if (cart.quantity != 0)
                                {
                                    <tr>
                                        <td>@cart.id</td>
                                        <td>@cart.name</td>
                                        <td>@cart.price</td>
                                        <td>@cart.quantity</td>
                                        <td>@totalPerProduct</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot id="payTableFooter">
                            <tr>
                                <td colspan="3"><b>Total: </b></td>
                                <td>@totalQuantity</td>
                                <td>@totalPrice</td>
                            </tr>
                        </tfoot>
                    </table>
                    <button data-toggle="modal" id="pay_modal_button" class="btn btn-primary">Pay</button>&nbsp;<a href="@Url.Action("cancelOrder", "Order")" id="cancel" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
        @*}*@
    </div>
</div>
@section scripts
{
    <script>

            function drawCheckoutTable(items) {
                var totalPrice = 0;
                var totalQuantity = 0;
                $("#payTableBody").remove();
                $("#payTableFooter").remove();
                var html = "<tbody id='payTableBody'>";
                items.forEach((value) => {
                    if (value.quantity != 0) {
                        html += "<tr>";
                        html += "<td>" + value.id + "</td>";
                        html += "<td>" + value.name + "</td>";
                        html += "<td>" + addCommas(value.price.toFixed(2)) + "</td>";
                        html += "<td>" + value.quantity + "</td>";
                        html += "<td>" + addCommas((value.price * value.quantity).toFixed(2)) + "</td>";
                        totalPrice += (value.price * value.quantity);
                        totalQuantity += value.quantity;
                        html += "<td></td>";
                        html += "</tr>";
                    }
                });


                html += "</tbody>";
                html += "<tfoot id='payTableFooter'>";
                html += "<td colspan='3'><b>Total: </b></td>";
                html += "<td>" + totalQuantity + "</td>";
                html += "<td>" + addCommas(totalPrice.toFixed(2)) + "</td>";
                html += "</tfoot>";

                $("#payTableId").append(html);
                $("#total_order").val(totalPrice);
                return totalPrice;
            }

        function getTotalOrder() {
            var total = 0;
            $.ajax({
                type: "GET",
                url: '@Url.Action("getInvoice", "Order")',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    total = data.totalOrder;
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

            return total;
        }

        $("#pay_modal_button").click(function () {

            $.ajax({
                type: "GET",
                url: '@Url.Action("getInvoice", "Order")',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#total_order").val(data.totalOrder+" LE")
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

            $("#code").prop('readonly', false);
            $('#payReset').prop('disabled', true);
            $("#code").val('');
            $("#name").val('');
            $("#total_credit").val('0 LE');
            $("#pay_with_wallet").modal('show');
        });

        $("#code").change(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("getNameAndCredit", "Order")',
                contentType: "application/json; charset=utf-8",
                data: { "code": $(this).val() },
                datatype: "json",
                success: function (data) {
                    $("#code").prop("readonly", true);
                    $('#name').val(data.name);
                    $('#total_credit').val(data.credit + " LE");
                    if (data.credit < getTotalOrder()) {
                        $('#payReset').prop('disabled', true);
                    }
                    else {
                        $('#payReset').prop('disabled', false);
                    }
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $('.plus').click(function () {
            var id = parseInt($(this).data('product-id'));
            var quantity = parseInt($('#' + id).val()) + 1;

            console.log(quantity);
            $.ajax({
                type: "GET",
                url: '@Url.Action("checkQuantity", "Order")',
                contentType: "application/json; charset=utf-8",
                data: { "id": id, "quantity": quantity },
                datatype: "json",
                success: function (data) {
                    drawCheckoutTable(data.order_list);

                    $('#' + data.id).val(data.quantity);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        $('.minus').click(function () {
            var id = parseInt($(this).data('product-id'));
            var quantity = parseInt($('#' + id).val()) - 1;

            $.ajax({
                type: "GET",
                url: '@Url.Action("checkQuantity", "Order")',
                contentType: "application/json; charset=utf-8",
                data: { "id": id, "quantity": quantity },
                datatype: "json",
                success: function (data) {
                    drawCheckoutTable(data.order_list);

                    $('#' + data.id).val(data.quantity);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        });
        $('.quantity').keyup(function () {
            var id = parseInt($(this).data('product-id'));
            var quantity = parseInt($('#' + id).val());
            if (quantity) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("checkQuantity", "Order")',
                contentType: "application/json; charset=utf-8",
                data: { "id": id, "quantity": quantity },
                datatype: "json",
                success: function (data) {
                    drawCheckoutTable(data.order_list);

                    $('#' + data.id).val(data.quantity);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            }
        });
    </script>
}
