﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>404 - Error</title>
    <!--favicon-->
    <link rel="icon" href="~/Content/assets/images/favicon-32x32.png" type="image/png" />
    <!-- loader-->
    <link href="~/Content/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/app.css" />
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
       <div class="error-404 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="card radius-15 shadow-none bg-transparent">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h1 class="display-1"><span class="text-primary">4</span><span class="text-danger">0</span><span class="text-success">4</span></h1>
                                <h2 class="font-weight-bold display-4">Lost in Space</h2>
                                <p>
                                    You have reached the edge of the universe.
                                    <br>The page you requested could not be found.
                                    <br>Dont'worry and return to the previous page.
                                </p>
                                <div class="mt-5">
                                    <a href="@Url.Action("Index","Dashboard")" class="btn btn-lg btn-primary px-md-5 radius-30">Go Home</a>
                                    @*<a href="@ViewBag.returnUrl" class="btn btn-lg btn-outline-dark ml-3 px-md-5 radius-30">Back</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="~/Content/assets/images/errors-images/404-error.png" class="card-img" alt="">
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
        </div>
        <div class="bg-white p-4 fixed-bottom border-top">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              
                <p class="mb-0">
                    Healthy school @DateTime.Now.Year | Developed By : Healthy school
                </p>
            </div>
        </div>
    </div>
    <!-- end wrapper -->
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
</body>

</html>
