﻿@using SchoolManagement.Enums;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var male_id = (int)Gender.Male;
    var female_id = (int)Gender.Female;
}

<div class="modal fade" id="manage_member_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" id="member_form" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-4">
                                <label>Username</label>
                                <input required name="user_name" id="user_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Full Name</label>
                                <input required name="full_name" id="full_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Password</label>
                                <input type="text" name="password" id="password" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Email</label>
                                <input type="text" name="email" id="email" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Phone1</label>
                                <input type="number" name="phone1" id="phone1" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Phone2</label>
                                <input type="number" name="phone2" id="phone2" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Address1</label>
                                <input type="text" name="address1" id="address1" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Address2</label>
                                <input type="text" name="address2" id="address2" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>BirthDate</label>
                                <input type="date" name="birthDate" id="birthDate" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Gender</label>
                                <select name="gender" id="gender" class="form-control radius-30">
                                    <option value="@male_id">@Gender.Male</option>
                                    <option value="@female_id">@Gender.Female</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Status</label>
                                <select class="form-control" name="active" id="active">
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </div>
                    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="add_childern_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" id="children_form" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <input type="hidden" name="member_id" id="member_id" />

                            <div class="form-group col-md-12">
                                <center><label for=""><img src="~/Content/assets/images/userProfile.png" width="150" height="150" id="childrenImageProfile" class="rounded-circle shadow" alt="" /></label></center>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Code <small id="code_error" style="display:none;" class="badge badge-danger"> <i class="lni lni-close"></i> wrong code</small><small id="code_valid" class="badge badge-success" style="display:none;"><i class="lni lni-checkmark"></i> valid code</small></label>
                                <input autocomplete="off" type="text" name="code" id="code" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Name</label>
                                <input type="text" name="name" id="name" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Image</label>
                                <input type="file" name="children_image" id="children_image" class="form-control radius-30" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="save_children">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="childerns_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <table id="childrens_table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody id="childrens_table_body">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Parents</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Member")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Parents</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_member">Add Parent</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="memberTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="20%">Name</th>
                        <th width="45%">Information</th>
                        <th width="20%">Children</th>
                        <th width="10%"></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#memberTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": false,
                    "stateSave": false,
                    "lengthChange": false,

                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Member")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "full_name",
                            "searchable": true
                        },
                        {
                            "data": "phone1", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span> ";
                                if (oData.phone1 || oData.phone2) {
                                    html += "<b>Phone: </b>";
                                    if (oData.phone1)
                                        html += oData.phone1;
                                    //if (oData.phone2)
                                    //    html += "<br/><b>Secondary Phone: </b> " + oData.phone2;
                                }
                                if (oData.address1 || oData.address2) {
                                    html += "<br/><b>Address: </b>";
                                    if (oData.address1)
                                        html += oData.address1;
                                    //if (oData.address2)
                                    //    html += "<br/><b>Secondary Address: </b> " + oData.address2;
                                }
                                //if (oData.email)
                                //    html += "<br/><b>Email: </b>" + oData.email;
                                //if (oData.gender) {
                                //    if (oData.gender == 1)
                                //        html += "<br/><b>Gender: </b>Male";
                                //    else if (oData.gender == 2)
                                //        html += "<br/><b>Gender: </b>Female";
                                //}
                                //if (oData.created_by)
                                //    html += "<br/><b>Created By: </b>" + oData.created_by;
                                //if (oData.active == 1)
                                //    html += "<br/><b>Active:</b> Yes";
                                //else
                                //    html += "<br/><b>Active:</b> No";

                                html += "</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "childrens", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span> ";
                                if (oData.childrens.length > 0) {
                                    //html += "<b>Child1: </b>";

                                    oData.childrens.forEach(function (value) {
                                        html += value.name + " <a class='editChild' href='javascript:void(0)' data-id='" + value.id + "' data-code='" + value.code + "' data-name='" + value.name + "' data-imagePath='" + value.imagePath +"' title='Edit Child'><i class='lni lni-pencil'></i></a>&nbsp;";
                                        html += "<a class='deleteChild' href='javascript:void(0)' id='" + value.id + "' data-name='" + value.name + "' title='Delete Child'><i class='lni lni-trash'></i></a><br/>";
                                    })
                                }

                                html += "</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='delete' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>&nbsp; | ";
                                html += "<a class='add_childern' href='javascript:void(0)' title='Add Child'><i class='lni lni-plus'></i></a>&nbsp;";
                                html += "<a class='show_childern' href='javascript:void(0)' title='Show'><i class='lni lni-eye'></i></a>&nbsp;";

                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#sub_filter").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");
                $("#sub_filter").val("1");
                $('#search').trigger('click');

            });

            //$('#date-form').bootstrapMaterialDatePicker({
            //    time: false
            //});

            //$('#date-to').bootstrapMaterialDatePicker({
            //    time: false
            //});

           $("#add_member").click(function () {
               var modal = $('#manage_member_modal').clone();
                var action = '@Url.Action("saveMember", "Member")';
                modal.find('form').attr('action', action);
               modal.find('#modal_title').text('Add Parent');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                         //code
                        $(document).on('change', '#image', function (event) {

                            var reader = new FileReader();
                            reader.onload = function () {
                                dialog.find('#imageProfile').attr('src', reader.result);
                            };
                            reader.readAsDataURL(event.target.files[0]);

                        });

                        $(document).on('keyup', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCodeAvailability", "Member")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }


                        });


                });
            });

           $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_member_modal').clone();
                var action = '@Url.Action("saveMember", "Member")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Parent');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                        dialog.find('#id').val(data.id);
                        dialog.find('#full_name').val(data.full_name);
                        dialog.find('#user_name').val(data.full_name);
                        dialog.find('#password').val(data.full_name);
                        dialog.find('#code').val(data.code);
                        dialog.find('#email').val(data.email);
                        dialog.find('#phone1').val(data.phone1);
                        dialog.find('#phone2').val(data.phone2);
                        dialog.find('#address1').val(data.address1);
                        dialog.find('#address2').val(data.address2);
                        dialog.find('#gender').val(data.gender);
                        if (data.birthDate != null) {
                        var value = new Date
                            (
                                parseInt(data.birthDate.replace(/(^.*\()|([+-].*$)/g, ''))
                            );
                        var date_birthDate = value.getFullYear() +
                            "-" +
                            ("0" + (value.getMonth() + 1)).slice(-2) +
                            "-" +
                            ("0" + value.getDate()).slice(-2)
                            ;
                            dialog.find('#birthDate').val(date_birthDate);
                        }
                        dialog.find('#gender option[value=' + data.gender + ']').attr('selected', 'selected');
                        dialog.find('#active option[value=' + data.active + ']').attr('selected', 'selected');
                });

            });

           $(document).on("click", ".add_childern", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
               var modal = $('#add_childern_modal').clone();
                var action = '@Url.Action("saveChildren", "Member")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Add Child');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                     dialog.find('#member_id').val(data.id);
                     dialog.find('#save_children').prop('disabled', true);

                    $(document).on('change', '#children_image', function (event) {

                        var reader = new FileReader();
                        reader.onload = function () {
                            dialog.find('#childrenImageProfile').attr('src', reader.result);
                        };
                        reader.readAsDataURL(event.target.files[0]);

                    });

                    $(document).on('keyup', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCodeAvailability", "Member")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save_children').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save_children').prop('disabled', false);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save_children').prop('disabled', true);
                            }
                        });

                });

            });

            $(document).on("click", ".editChild", function () {
                var data = datatable.row($(this).closest('tr')).data();
                var id = $(this).attr('data-id');
                var code = $(this).attr('data-code');
                var name = $(this).attr('data-name');
                var imagePath = $(this).attr('data-imagePath');

               var modal = $('#add_childern_modal').clone();
                var action = '@Url.Action("saveChildren", "Member")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Child');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#id').val(id);
                        dialog.find('#member_id').val(data.member_id);
                        dialog.find('#name').val(name);
                        dialog.find('#code').val(code);
                        //dialog.find('#children_image').val(imagePath);

                        

                        if (imagePath!="null") {
                            dialog.find('#childrenImageProfile').attr('src', imagePath);
                        }
                        else {
                            dialog.find('#childrenImageProfile').attr('src', '/Content/assets/images/userProfile.png');
                        }

                        $(document).on('change', '#children_image', function (event) {

                            var reader = new FileReader();
                            reader.onload = function () {
                                dialog.find('#childrenImageProfile').attr('src', reader.result);
                            };
                            reader.readAsDataURL(event.target.files[0]);

                        });
                    $(document).on('keyup', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCodeAvailability", "Member")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code,
                                        "id": id
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save_children').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save_children').prop('disabled', false);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save_children').prop('disabled', true);
                            }
                        });

                });

            });

           $(document).on("click", ".show_childern", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
               var modal = $('#childerns_modal').clone();
               modal.find('#modal_title').text(data.full_name+' Childrens');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#childrens_table_body').remove();

                        var html = "<tbody>";
                        data.childrens.forEach(function (value) {
                            html += "<tr>";
                            if (value.imagePath)
                                html += '<td><center><a href="' + value.imagePath +'" target="_blank"><img src="' + value.imagePath + '" width="50" height="50" class="rounded-circle shadow" alt=""/><a/></center></td>';
                            else
                                html += '<td><center><a href="/Content/assets/images/userProfile.png" target="_blank"><img src="/Content/assets/images/userProfile.png" width="50" height="50" class="rounded-circle shadow" alt=""/></a></center></td>';
                            html += "<td>" + value.code + "</td>";
                            html += "<td>" + value.name + "</td>";
                            html += "</tr>";
                        });
                        html += "</tbody>";

                        dialog.find('#childrens_table').append(html);





                });

           });

           $(document).on("click", ".deleteChild", function () {
               var data = datatable.row($(this).closest('tr')).data();
               var id = $(this).attr('id');
               var name = $(this).attr('data-name');

                warningBox("Are you sure you want to delete this Child (<b>" + name +"</b>) ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteChild", "Member")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this member (<b>" + data.name +"</b>) ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteMember", "Member")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}

