﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_userCredit_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>Code <small id="code_error" style="display:none;" class="badge badge-danger"> <i class="lni lni-close"></i> wrong code</small><small id="code_valid" class="badge badge-success" style="display:none;"><i class="lni lni-checkmark"></i> valid code</small></label>
                                <input required name="code" id="code" autocomplete="off" autofocus type="password" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Name</label>
                                <input disabled name="full_name" id="full_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Amount</label>
                                <input type="number" name="amount" id="amount" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Type</label>
                                <select class="form-control" name="credit_type" id="credit_type">
                                    <option value="1">Deposit</option>
                                    <option value="2">Withdraw</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Notes</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                            @*<div class="form-group col-md-12">
                                    @Html.DropDownList("school_id", new SelectList(ViewBag.schools, "id", "name"), "Select school", new { @class = "form-control", @name = "school_id", @id = "school_id", @required = "required" })
                                </div>*@

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="charge_userCredit_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-12">
                                @Html.DropDownList("child_id", new SelectList(ViewBag.childrens, "id", "name"), "Select Children", new { @class = "form-control", @name = "child_id", @id = "child_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Amount</label>
                                <input type="number" name="amount" id="amount" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Type</label>
                                <select class="form-control" name="charge_type" id="charge_type">
                                    <option value="1">Cash</option>
                                    <option value="2">Online</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Notes</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <span style="color:red" id="alert_message"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="withdraw_orders_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            
                            <table class="table table-striped" id="withdraw_orders_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody id="withdraw_orders_table_body">

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">User Credit</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Users Credit</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                @if (Session["type"].ToString().ToInt() != (int)UserTypes.Member)
                {
                    <a class="dropdown-item" href="javascript:;" id="add_userCredit">Add User Credit</a>
                }
                <a class="dropdown-item" href="javascript:;" id="charge_userCredit">Charge Credit</a>

            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownList("search_child_id", new SelectList(ViewBag.childrens, "id", "name"), "Select Children", new { @class = "form-control", @name = "search_child_id", @id = "search_child_id", @required = "required" })
            </div>
            <div class="form-group col-md-4">
                <select class="form-control" name="search_credit_type" id="search_credit_type">
                    <option value="">Credit Type</option>
                    <option value="1">Deposit</option>
                    <option value="2">Withdraw</option>
                </select>
            </div>

            <div class="form-group col-4">
                <input class="result form-control" type="text" id="date-from" placeholder="From Date">
            </div>

            <div class="form-group col-4">
                <input class="result form-control" type="text" id="date-to" placeholder="To Date">
            </div>

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card radius-15 bg-primary">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="media-body">
                        <h4 class="mb-0 font-weight-bold text-white"><span id="deposit"></span></h4>
                        <p class="mb-0 text-white">
                            @if (Session["type"].ToString().ToInt() == (int)UserTypes.Member)
                            {
                                <span>Charge</span>
                            }
                            else
                            {
                                <span>Deposit</span>
                            }
                            
                        </p>


                            </div>


                            <div class="font-35 text-white">
                        <i class='bx bx-wallet'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card radius-15 bg-warning">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="media-body">
                        <h4 class="mb-0 font-weight-bold text-dark"><span id="withdraw"></span></h4>
                        <p class="mb-0 text-dark">
                            @if (Session["type"].ToString().ToInt() == (int)UserTypes.Member)
                            {
                                <span>Paid</span>
                            }
                            else
                            {
                                <span>Withdraw</span>
                            }
                        </p>
                    </div>
                    <div class="font-35 text-dark">
                        <i class='bx bx-wallet'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card radius-15 bg-danger">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="media-body">
                        <h4 class="mb-0 font-weight-bold text-white"><span id="balance"></span></h4>
                        <p class="mb-0 text-white">Balance</p>
                    </div>
                    <div class="font-35 text-white">
                        <i class='bx bx-wallet'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="userCreditTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>Code</th>*@
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Created By</th>
                        <th>Note</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#userCreditTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "UserCredit")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "full_name",
                            "searchable": true
                        },
                        {
                            "data": "amount", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<span class='action-column'>" + addCommas(oData.amount.toFixed(2)) + "</span>");


                            }
                        },
                        {
                            "data": "credit_type", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                if (oData.credit_type == 1)
                                    $(nTd).html("<span class='action-column'> Deposit </span>");
                                else
                                    $(nTd).html("<span class='action-column'> Withdraw </span>");

                            }
                        },
                        { "data": "created_by", "searchable": true },
                        { "data": "note", "searchable": true },
                        {
                            "data": "StringCreated_at", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<span class='action-column'>" + oData.StringCreated_at.split(' ')[0] + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                console.log(oData)
                                var html = "";
                                html += "<a class='edit' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='delete' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>&nbsp;";
                                if (oData.credit_type == 2)
                                    html += "| <a class='show' href='javascript:void(0)' title='Order Details'><i class='lni lni-eye'></i></a>&nbsp;";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#search_child_id").val());
                datatable.columns(1).search($("#search_credit_type").val());
                datatable.columns(2).search($("#date-from").val());
                datatable.columns(3).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");
                $("#search_child_id").val();
                $("#search_credit_type").val();
                $("#date-from").val();
                $("#date-to").val();
                $('#search').trigger('click');

            });


           datatable.on('xhr.dt', function (e, settings, json, xhr) {
               $('#deposit').text(addCommas(json.deposit.toFixed(2)));
               $('#withdraw').text(addCommas(json.withdraw.toFixed(2)));
               $('#balance').text(addCommas(json.balance.toFixed(2)));

           });

           $("#add_userCredit").click(function () {
                var modal = $('#manage_userCredit_modal').clone();
                var action = '@Url.Action("saveUserCredit", "UserCredit")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Add User Credit');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                         //code
                        dialog.find("#code").prop('readonly', false);
                        dialog.find("#code").focus();
                        $(document).on('change', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            dialog.find("#code").prop('readonly', true);
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCode", "UserCredit")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {

                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                            dialog.find('#full_name').val('');
                                            dialog.find('#full_name').val(json.full_name);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }
                        });

                });
            });

           $("#charge_userCredit").click(function () {
               var modal = $('#charge_userCredit_modal').clone();
                @*var action = '@Url.Action("saveUserCredit", "UserCredit")';
                modal.find('form').attr('action', action);*@
                modal.find('#modal_title').text('Charge Credit');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {


                }, function (response) {

                }, function (dialog) {
                        $(document).on('change', '#charge_type', function () {
                            if ($(this).val() == 1) {
                                dialog.find('#alert_message').text("* Please make a visit to School.");
                            }
                            else {
                                dialog.find('#alert_message').text("* Comming Soon.");
                            }
                        });
                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_userCredit_modal').clone();
                var action = '@Url.Action("saveUserCredit", "UserCredit")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit User Credit');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#id').val(data.id);
                        dialog.find('#code').val(data.code);
                        dialog.find('#amount').val(data.amount);
                        dialog.find('#credit_type').val(data.credit_type);
                        dialog.find('#note').val(data.note);
                        dialog.find('#full_name').val(data.full_name);
                        dialog.find('#note').val(data.note);
                        //dialog.find('#school_id option[value=' + data.school_id + ']').attr('selected', 'selected');
                        dialog.find("#code").prop('readonly', false);
                        dialog.find("#code").focus();
                        //code
                        $(document).on('change', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            dialog.find("#code").prop('readonly', true);

                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCode", "UserCredit")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {

                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                            dialog.find('#full_name').val('');
                                            dialog.find('#full_name').val(json.full_name);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }
                        });


                });

            });

           $(document).on("click", ".show", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#withdraw_orders_modal').clone();
                @*var action = '@Url.Action("saveUserCredit", "UserCredit")';
                modal.find('form').attr('action', action);*@
                modal.find('#modal_title').text('Order Products');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                }, function (response) {

                }, function (dialog) {

                        if (data.products) {
                            
                            dialog.find("#withdraw_orders_table_body").remove();
                            var html = "<tbody id='withdraw_orders_table_body'>";
                            var total = 0;
                        data.products.forEach(function (product) {
                            html += "<tr>";
                            html += "<td>" + product.id+"</td>";
                            html += "<td>" + product.name + "</td>";
                            html += "<td>" + product.productQantity + "</td>";
                            html += "<td>" + product.price + "</td>";
                            html += "</tr>";

                            total += product.price;
                        });

                            html += "</tbody>";
                            html += "<tfoot>";
                            html += "<tr>";
                            html += "<td colspan='2'><b>Total</b></td>";
                            html += "<td colspan='2'>" + total+"</td>";
                            html += "</tr>";
                            dialog.find("#withdraw_orders_table").append(html);
                    }

                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this amount (<b>" + data.amount +"</b>) ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteUserCredit", "UserCredit")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

           $('#date-from').bootstrapMaterialDatePicker({
               time: false
           });

           $('#date-to').bootstrapMaterialDatePicker({
               time: false
           });

        });

    </script>
}

