﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_school_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>school Name</label>
                                <input required name="name" id="name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Username <small id="user_name_error" style="display:none;" class="badge badge-danger"> <i class="lni lni-close"></i> username already taken</small><small id="user_name_valid" class="badge badge-success" style="display:none;"><i class="lni lni-checkmark"></i> valid username</small></label>
                                <input required name="user_name" id="user_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Password</label>
                                <input required name="password" id="password" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Full Name</label>
                                <input required name="full_name" id="full_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="text" name="email" id="email" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <input type="text" name="phone1" id="phone1" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Status</label>
                                <select class="form-control" name="is_active" id="is_active">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="image" name="image" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <img id="imageProfile" src="" width="100" height="100" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="save" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
     </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">school</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">schools</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_school">Add school</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            @*<div class="form-group col-2">
                <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
            </div>
            <div class="form-group col-2">
                <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
            </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="schoolTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Branches</th>
                        <th>Owner Name</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            //Default data table
            //$('#example').DataTable();
            //var table = $('#schoolTable').DataTable({
            //    lengthChange: false,
            //    buttons: ['copy', 'excel', 'pdf', 'print', 'colvis']
            //});
            //table.buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
            //$('#schoolTable').DataTable();



            var datatable = $('#schoolTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index","School")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "name",
                            "searchable": true
                        },
                        {
                            "data": "created_by", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = '';
                                if (oData.branches.length > 0 && oData.branches[0].name.length > 0) {
                                    oData.branches.forEach(function (value) {
                                        html += value.name;
                                        html += ', ';
                                    });
                                } else {
                                    html += 'No Branches Created';
                                }
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "full_name",
                            "searchable": true
                        },
                        {
                            "data": "created_at", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<span class='action-column'>" + oData.created_at.split(' ')[0] + "</span>");
                            }
                        },
                        {
                            "data": "updated_at", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<span class='action-column'>" + oData.updated_at.split(' ')[0] + "</span>");
                            }
                        },
                        {
                            "data": "is_active", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.is_active==true)
                                    html += "<span class='badge badge-primary'>Yes</span>";
                                else
                                    html += "<span class='badge badge-danger'>No</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' id='" + oData.id + "' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='delete' id='" + oData.id + "' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#date-form").val());
                datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });
            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

            $('#date-form').bootstrapMaterialDatePicker({
                time: false
            });

            $('#date-to').bootstrapMaterialDatePicker({
                time: false
            });

            $("#add_school").click(function () {
                var modal = $('#manage_school_modal').clone();
                var action = '@Url.Action("saveSchool","School")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Add school and Owner');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        $(document).on('keyup', '#user_name', function () {
                            var user_name = dialog.find('#user_name').val().length != 0 ? dialog.find('#user_name').val() : null;
                            if (user_name != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkUsernameAvailability", "Staff")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "user_name": user_name
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {

                                            dialog.find('#user_name_error').show();
                                            dialog.find('#user_name_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#user_name_error').hide();
                                            dialog.find('#user_name_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                        }


                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#user_name_error').show();
                                dialog.find('#user_name_valid').hide();
                                dialog.find('#save').prop('disabled', true);

                            }

                        });

                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                //console.log(data);
                var modal = $('#manage_school_modal').clone();
                var action = '@Url.Action("saveSchool","School")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit school and Owner');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#id').val(data.id);
                        dialog.find('#code').val(data.code);
                        dialog.find('#name').val(data.name);
                        dialog.find('#desc').val(data.description);
                        dialog.find('#is_active option[value=' + data.is_active + ']').attr('selected', 'selected');
                        dialog.find('#user_name').val(data.user_name);
                        dialog.find('#full_name').val(data.full_name);
                        dialog.find('#password').val(data.password);
                        dialog.find('#email').val(data.email);
                        dialog.find('#phone1').val(data.phone1);
                        dialog.find('#address1').val(data.address1);
                        dialog.find('#image').val(data.image);
                        dialog.find('#imageProfile').attr('src', data.imagePath);

                        $(document).on('keyup', '#user_name', function () {
                            var user_name = dialog.find('#user_name').val().length != 0 ? dialog.find('#user_name').val() : null;
                            if (user_name != null) {

                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkUsernameAvailability", "Staff")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "user_name": user_name
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {

                                            dialog.find('#user_name_error').show();
                                            dialog.find('#user_name_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#user_name_error').hide();
                                            dialog.find('#user_name_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                        }


                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });

                            } else {
                                dialog.find('#user_name_error').show();
                                dialog.find('#user_name_valid').hide();
                                dialog.find('#save').prop('disabled', true);

                            }
                        });

                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this school ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteschool", "school")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}
